services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:ns="http://ygb3.ru/services" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://ygb3.ru/services">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.hostco.ru/types" schemaLocation="http://10.80.0.90/PortalServiceLpu/services/PortalServiceLpu?xsd=types.xsd"/>
        </xsd:schema>
        <xsd:schema
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="https://ygb3.ru/types">
            <xs:complexType name="ServiceRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Тип запроса
                    </xs:documentation>
                </xs:annotation>
            </xs:complexType>
            <xs:element name="serviceRequest" type="ServiceRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Запрос
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xsd:schema>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:ns2="http://www.hostco.ru/types"
            xmlns:yns="https://ygb3.ru/types" 
            attributeFormDefault="unqualified" 
            elementFormDefault="qualified" 
            targetNamespace="http://www.hostco.ru/portal/lpu/types">
            <xs:complexType name="ValidatePatientRequest">
                <xs:annotation>
                    <xs:documentation>
                        Ответ на запрос о прикреплении пациента к ЛПУ (упрощенная версия)
                    </xs:documentation>
                </xs:annotation>
                <xs:choice>
                    <xs:element name="muCode" type="ns2:MuCodeType">
                        <xs:annotation>
                            <xs:documentation>Код ЛПУ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="yns:serviceRequest"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="ValidatePatientResponse">
                <xs:annotation>
                    <xs:documentation>
                        Ответ на запрос о прикреплении пациента к ЛПУ (упрощенная версия)
                    </xs:documentation>
                </xs:annotation>
                <xs:choice>
                    <xs:element name="muCode" type="ns2:MuCodeType">
                        <xs:annotation>
                            <xs:documentation>Код ЛПУ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ns2:portalServiceResponse"/>
                </xs:choice>
            </xs:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ValidatePatientRequest">
        <wsdl:part element="ValidatePatientRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ValidatePatientResponse">
        <wsdl:part element="ValidatePatientResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="servicePort">
        <wsdl:documentation>SOAP Server description file</wsdl:documentation>
        <wsdl:operation name="ValidatePatient">
            <wsdl:documentation>
                Прикрепление пациента к ЛПУ (упрощенная версия)
            </wsdl:documentation>
            <wsdl:output message="ValidatePatientRequest"></wsdl:output>
            <wsdl:output message="ValidatePatientResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="binding" type="ns:servicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ValidatePatient">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="service">
        <wsdl:port binding="ns:binding" name="port">
            <soap:address location="https://10.80.18.59/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>