services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:er="http://www.hostco.ru/types"
    xmlns:lpu="http://www.hostco.ru/portal/lpu/types"
    xmlns:ns="http://ygb3.ru/services"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://ygb3.ru/services">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:er="http://www.hostco.ru/types"
            xmlns:lpu="http://www.hostco.ru/portal/lpu/types"
            xmlns:ns="http://ygb3.ru/services"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            targetNamespace="http://ygb3.ru/services">

            <xsd:import namespace="http://www.hostco.ru/types" schemaLocation="http://10.80.0.90/PortalServiceLpu/services/PortalServiceLpu?xsd=types.xsd"/>
            <xsd:import namespace="http://www.hostco.ru/portal/lpu/types" schemaLocation="http://10.80.0.90/PortalServiceLpu/services/PortalServiceLpu?xsd=typesLpu.xsd"/>

            <xsd:complexType name="ValidatePatientRequest">
                <xsd:annotation>
                    <xsd:documentation>Запрос прикрепления пациента к ЛПУ</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="muCode" type="er:MuCodeType">
                        <xsd:annotation>
                            <xsd:documentation>Код ЛПУ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="patientInfo" type="er:PatientInfoType">
                        <xsd:annotation>
                            <xsd:documentation>Информация о пациенте</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ValidatePatientResponse" type="lpu:ValidatePatientResponse"/>
            <xsd:element name="ValidatePatientRequest" type="ns:ValidatePatientRequest"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ValidatePatientResponse">
        <wsdl:part element="ns:ValidatePatientResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ValidatePatientRequest">
        <wsdl:part element="ns:ValidatePatientRequest" name="parameters"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="servicePort">
        <wsdl:documentation>SOAP Server description file</wsdl:documentation>
        <wsdl:operation name="validatePatient">
            <wsdl:documentation>
                Прикрепление пациента к ЛПУ (упрощенная версия)
            </wsdl:documentation>
            <wsdl:input message="ns:ValidatePatientRequest"></wsdl:input>
            <wsdl:output message="ns:ValidatePatientResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="binding" type="ns:servicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validatePatient">
            <soap:operation soapAction="http://ygb3.ru/services/validatePatient"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="service">
        <wsdl:port binding="ns:binding" name="port">
            <soap:address location="https://10.80.18.59/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>