services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.hostco.ru/portal/lpu"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    name="service"
    targetNamespace="http://www.hostco.ru/portal/lpu">

    <wsdl:types 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:schema
            xmlns:lt="http://www.hostco.ru/portal/lpu/types"
            xmlns:ct="http://www.hostco.ru/types"
            targetNamespace="http://www.hostco.ru/portal/lpu">

            <xsd:import namespace="http://www.hostco.ru/types" schemaLocation="http://10.80.0.90/PortalServiceLpu/services/PortalServiceLpu?xsd=types.xsd"/>
            <xsd:import namespace="http://www.hostco.ru/portal/lpu/types" schemaLocation="http://10.80.0.90/PortalServiceLpu/services/PortalServiceLpu?xsd=typesLpu.xsd"/>

            <xsd:complexType name="ValidatePatientRequest">
                <xsd:annotation>
                    <xsd:documentation>Запрос прикрепления пациента к ЛПУ</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="muCode" type="ct:MuCodeType">
                        <xsd:annotation>
                            <xsd:documentation>Код ЛПУ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="patientInfo" type="ct:PatientInfoType">
                        <xsd:annotation>
                            <xsd:documentation>Информация о пациенте</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ChangeSlotStateRequest">
                <xsd:annotation>
                    <xsd:documentation>Запрос об изменении состояния слота</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="slotInfo" type="ct:SlotInfo">
                        <xsd:annotation>
                            <xsd:documentation>Базовая информация о слоте</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="validatePatientRequest" type="tns:ValidatePatientRequest"/>
            <xsd:element name="validatePatientResponse" ref="lt:ValidatePatientResponse"/>
            <xsd:element name="changeSlotStateRequest" type="tns:ChangeSlotStateRequest"/>
            <xsd:element name="changeSlotStateResponse" ref="lt:ChangeSlotStateResponse"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="validatePatientRequest">
        <wsdl:part element="tns:validatePatientRequest" name="parameters"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="validatePatientResponse">
        <wsdl:part element="tns:validatePatientResponse" name="parameters"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="changeSlotStateRequest">
        <wsdl:part element="tns:changeSlotStateRequest" name="parameters"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="changeSlotStateResponse">
        <wsdl:part element="tns:changeSlotStateResponse" name="parameters"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="servicePort">
        <wsdl:documentation>SOAP Server description file</wsdl:documentation>
        <wsdl:operation name="validatePatient">
            <wsdl:documentation>
                Прикрепление пациента к ЛПУ (упрощенная версия)
            </wsdl:documentation>
            <wsdl:input message="tns:validatePatientRequest"></wsdl:input>
            <wsdl:output message="tns:validatePatientResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeSlotState">
            <wsdl:documentation>
                Запрос об изменении состояния слота
            </wsdl:documentation>
            <wsdl:input message="tns:changeSlotStateRequest"></wsdl:input>
            <wsdl:output message="tns:changeSlotStateResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="binding" type="tns:servicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validatePatient">
            <soap:operation soapAction="http://www.hostco.ru/portal/lpu/validatePatient"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeSlotState">
            <soap:operation soapAction="http://www.hostco.ru/portal/lpu/changeSlotState"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="service">
        <wsdl:port binding="tns:binding" name="port">
            <soap:address location="http://10.80.18.59/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>